pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}

.border-padding{
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.edit_button {
    max-width: 14px;
    min-width: 14px;
}
.edit_button:hover{
    background-color: aquamarine;
}

.row-box{
    max-width: 300px;
    float: left;
}
.after-row-box {
    clear: left;
}
