.inline-class{
    display: inline-block;
}
.container-header{
    font-weight: bold;
    font-size: medium;
    text-align: right;
}
.upload-dataset-dialog form {
    min-width: 372px;
}
.upload-dataset-dialog md-switch:last-of-type {
    margin-right: 14px;
}