body{
    background-image: url(../images/pattern.png);
}

.inline-class{
    display: inline-block;
}
.container-header{
    font-weight: bold;
    font-size: medium;
    text-align: right;
}

/*.user-name{*/
    /*font-size: 16px;*/
    /*color: green;*/
    /*margin-top: 15px;*/
/*}*/

.ng-hide{
    display: none;
}
.upload-dataset-dialog form {
    min-width: 372px;
}
.upload-dataset-dialog md-switch:last-of-type {
    margin-right: 14px;
}